<h3>Pedido de conselho</h3>
<div class="container ui-g">
    <div class="advice-request ui-g-12 ui-md-12 ui-lg-12">
        <img class="ui-g-2 ui-md-1 ui-lg-1" src="app/img/she.png" />
        <div class="ui-g-10 ui-md-11 ui-lg-11">
            Oi. Estou em dúvida sobre qual carreira seguir.
            Não sei como decidir. Me ajuda, pf.
            Como eu faço para decidir?
        </div>
    </div>
</div>

<h3>Dê o seu conselho</h3>
<div class="container ui-g">
    <textarea class="give-advice-textarea ui-g-12 ui-md-12 ui-lg-12" rows="15" maxlength="2000">
    </textarea>
    <input class="give-button ui-g-11" type="button" value="Enviar" (click)="submit()" /> <br />
</div>