
h3 {
	text-align: center;
	color: #44c767;

}
.container {
	margin: 0 auto; 
	width: 656px; 
	text-align: center;
}

.advice-button {
	padding: 15px;
	text-align: center;
	color: #eee;
	max-height: 120px;
	min-width: 120px;
	background-color: #006666;
	margin: 10px;
	border-radius: 2px;
}
.advice-button:hover {
  background-color: #009999;
  cursor: pointer;
}

@media (max-width: 600px) {
	.container {
		width: 100%;
	}
	.advice-button {
	  font-size: 10px;
	  max-height: 75px;
	}
}
@media (max-width: 1024px) {
	.advice-button {
	  min-width: 60px;
	}
}