<header class="container">
    <img class="logo-img" src="app/img/advice-now.png" />
    <nav class="header-nav-bar">
        <a [routerLink]="['/login']" routerLinkActive="active">Login</a>
        <a [routerLink]="['/home']" routerLinkActive="active">Home</a>
        <a [routerLink]="['/dashboard']" routerLinkActive="active">Dashboard</a>
        <a [routerLink]="['/counselors']" routerLinkActive="active">Conselheiros</a>
    </nav>
    <div class="header-login-panel">
        <input class="header-login-item header-login-input" type="text" placeholder="e-mail" />
        <input class="header-login-item header-login-input" type="password" placeholder="senha" />
        <input class="header-login-item header-login-button" type="button" value="Entrar" [routerLink]="['/login']" routerLinkActive="active"/>
    </div>
</header>

<router-outlet></router-outlet>

<footer>
    <span>Um novo conceito em rede social, no Brasil.</span> <br />
    <span>Advice.now © 2016</span>
</footer>