<div class="signup-container ui-g">
    <div class="ui-g-12 ui-md-9 ui-lg-7">
        <div class="calling-panel">
            <p class="calling-p">Amizades</p>
            <p class="calling-p">Em conversas particulares</p><br /><br />
            <p class="calling-p">Peça um conselho, ou aconselhe alguém.<br />
            <p class="calling-p">É gratificante e revelador.</p> <br />
        </div>
    </div>
    <div class="ui-g-12 ui-md-3 ui-lg-5">
        <div class="signup-panel">
            <input class="signup-input ui-g-12" type="text" placeholder="Nome" /> <br />
            <input class="signup-input ui-g-12" type="text" placeholder="Sobrenome" /> <br />
            <input class="signup-input ui-g-12" type="text" #username placeholder="Email" /> <br />
            <input class="signup-input ui-g-12" type="password" #password placeholder="Nova senha" /> <br />
            <input class="signup-button ui-g-12" type="button" value="Cadastre-se" (click)="signup()" /> <br />
        </div>
    </div>
</div>
