body {
	background: #2e2f33;
}

.signup-container {
	background-image: url("app/img/bg.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	width: 100%;
}

.calling-panel {
    margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.calling-p {
	color: #fff;
	font-family: verdana, sans-serif;
    font-size: 18px;
	text-align: center;
}

.signup-panel {
    margin-left: 3%;
    margin-top: 10%;
	margin-bottom: 10%;
}

@media screen and (min-width: 768px) {
	.calling-panel {
		float: left;
		margin-left: 10%;
		margin-top: 10%;
		width: 100%;
	}
	
	.calling-p {
		text-align: left;
	}

	.signup-panel {
		float: left;
  		margin-left: 10%;
	}
}

.signup-input {
	background:#F8F8F8;
	color:#999999;
	border:3px solid #2C9116;
	border-radius:10px ;
	font-size:16px ;
	height: 40px ;
	line-height:20px ;
	
	padding-top: 8px ;
	box-shadow: 0px 0px 8px #DCDCDC;
	-webkit-box-shadow: 0px 0px 8px #DCDCDC;
	-moz-box-shadow: 0px 0px 8px #DCDCDC; 
	margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
	.signup-input {
  		width: 350px ;
		padding-left: 8px ;
	}
}

.signup-button {
	background-color:#006666;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #001a1a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:9px 33px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

.signup-button:hover {
	background-color:#009999;
}

.signup-button:active {
	position:relative;
	top:1px;
}